*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	/*overflow-x: hidden;*/
}

html{
	scroll-behavior: smooth;
}
/* Nav Bar*/
nav{
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Poppins', serif;	display: flex;
	align-items: center;
	justify-content: space-around;
	min-height: 10vh;
	background: #bdc3c7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
	background: linear-gradient(to right, #2c3e50, #bdc3c7);
	width: 100vw;
	position: fixed;
	z-index: 2;

}



nav > ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 50%;
	margin-left: auto
}

nav > ul > li{
	list-style: none;
	font-size: 1.5rem;
}

.nav-links > li > a{
	text-decoration: none;
	color: white;
	transition: 0.3s ease;
	font-weight: bold;
	letter-spacing: 3px;

}

.nav-links > li > a:hover{
	text-decoration: underline;
}

.header h4{
	font-size: 3rem;
	letter-spacing: 5px;
	margin-left: 2em;
	/*font-family: 'Special Elite', cursive*/
	color: white;
}
.header a {
	text-decoration: none;
	color: white;
}

.menuBurger{
	display: none;
}


/* Landing */
.portfolioContainer{
	background: rgba(10, 10, 10, 0.1);
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;
}

.portfolioContainer:before{
	content: '';
	background: url('./images/surf.jpg') center center/cover no-repeat fixed;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.headerCon{
	background: rgba(13, 13, 13, 0.6);
	height: 30vh;
	width: 70vw;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.headerCon h1{
	font-size: 3rem;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.line{
	height: 0.5vh;
	background-color: white;
	width: 70%
}

/* About Section*/
.aboutCon{
	height: 100vh;
	background: rgba(10, 10, 10, 0.1);
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	font-family: 'Poppins', serif;
}

.aboutHeader{
	background-color: rgba(10, 10, 10, 0.7);
	height: 10vh;
	width: 60%;
	margin-top: 5em;
	border-radius: 5px;
}
.aboutCon h1{
	font-size: 3rem;
	text-align: center;
	color: white;
}

.imgCon{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.aboutCon:before{
	content: '';
	background: url('./images/beach.jpg') center center/cover fixed no-repeat;
	height: 100vh;
	width: 100vw;
	position: absolute;
	z-index: -1;
}

.imgHolder{
	height: 60vh;
	width: 30vw;
	margin: 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;

}

.aboutImg{
	height: 50vh;
	width: 25vw;
	border: solid 3px black;
	filter: grayscale(1);
	transition: 0.5s ease;
	padding: 1em;
	border-radius: 5px;
}

.aboutImg:hover{
	filter: grayscale(0);
	transform: scale(1.05);
	box-shadow: 10px;
}

.imgHolder h2{
	font-size: 2.5rem;
	transition: 0.5s ease;
	opacity: 0;
	text-transform: uppercase;
}

.imgHolder:hover h2{
	text-transform: uppercase;
	color: white;
	opacity: 1;
	background-color: black;
	border-radius: 5px;
}

/* Contact Section */
.contactCon{
	height: 100vh;
	background: rgba(10, 10, 10, 0.1);
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.contactCon:before{
	content: '';
	background: url('./images/beach.jpg') center center/cover fixed no-repeat;
	height: 100vh;
	width: 100vw;
	position: absolute;
	z-index: -1;
}

.formInput{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(10, 10, 10, 0.5);
	border-radius: 5px;
	width: 40%;
	height: 60vh;
	margin: 5em;
}

.formInput label{
	font-size: 1.5rem;
	letter-spacing: 1px;
	font-weight: bold;
	font-family: 'Poppins', serif;
	text-align: left;
	color: white;
}
.formInput input{
	height: 5vh;
	width: 80%;
	font-size: 1.3rem;
}

.mapContainer{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.formInput h1{
	font-size: 2rem;
	color: white;
	font-family: 'Poppins', serif;
}

.submitButton{
	width: 50%;
	background-color: white;
	border: solid 3px black;
	height: 5vh;
	margin-top: 2em;
	cursor: pointer;
	font-family: 'Poppins', serif;
	font-size: 1.3rem;
	transition: 0.5s ease;
	border-radius: 5px;
}

.submitButton:hover{
	background-color: black;
	color: white;	
}

body{
	overflow-x: hidden;
}

@media (min-width: 401px) and (max-width: 768px){
	body{
		overflow-x: hidden;
	}
	.menuBurger{
		display: block;
		cursor: pointer;
	}

	.menuBurger div{
		height: 3px;
		width: 20px;
		background-color: black;
		margin: 3px;
		transition: 0.5s all ease;
	}

	.nav-links{
		position: absolute;
		right: 0px;
		height: 90vh;
		top: 10vh;
		background-color: rgba(203, 203, 203, 0.5);
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
		width: 40%;
		transform: translateX(100%);
		transition: transform 0.4s ease-in;
		z-index: 4;
	}

	.nav-links li{
		opacity: 0;
	}

	.header{
		margin-left: 0;
	}
	
	.headerCon h1{
		font-size: 2rem;
	}
	.headerCon{
		height: 20vh;
	}
	
	.header{
		margin-right: 1em;
	}

	.header h4{
		margin: 0;
	}
	.headerCon h1{
		font-size: 1rem;
	}
	.headerCon{
		height: 15vh;
	}
	
	.aboutHeader{
		height: 10vh;
		padding-top: 0.5em;
	}

	.aboutHeader h1{
		font-size: 1rem;
	}

	.aboutCon{
		height: 230vh;
		background: #3E5151;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}

	.imgCon{
		display: block;
		align-items: center;
		justify-content: center;
		width: 80%;
	}

	.imgHolder{
		width: 80vw;
		margin: 2em 0 2em 0;
	}

	.aboutImg{
		width: 80vw;
	}

	.imgHolder h2{
		margin: 1em 0 1em 0;
		font-size: 1rem;
		/*width: 40vw;*/
	}

	.contactCon{
		display: block;
		align-items: center;
		justify-content: center;
		height: 130vh;
		background: #22c1c3;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}

	.formInput{
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.mapContainer{
		height: 50vh;
		width: 100%;
		padding: 0;
		margin: 0;
	}



}

.nav-clicked{
	transform: translateX(0%);
	z-index: 4;
}

@keyframes navLinks{
	from{
		opacity: 0;
		transform: translateX(50px);
	}

	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

@media (max-width: 400px){
	body{
		overflow-x: hidden;
	}
	.menuBurger{
		display: block;
		cursor: pointer;
	}

	.menuBurger div{
		height: 3px;
		width: 20px;
		background-color: black;
		margin: 3px;
		transition: 0.5s all ease;
	}

	.nav-links{
		position: absolute;
		right: 0px;
		height: 90vh;
		top: 10vh;
		background-color: rgba(203, 203, 203, 0.5);
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
		width: 40%;
		transform: translateX(100%);
		transition: transform 0.4s ease-in;
		z-index: 4;
	}

	.nav-links li{
		opacity: 0;
	}

	.header{
		margin-right: 1em;
	}

	.header h4{
		margin: 0;
	}
	.headerCon h1{
		font-size: 1rem;
	}
	.headerCon{
		height: 15vh;
	}
	
	.aboutHeader{
		height: 10vh;
		padding-top: 0.5em;
	}

	.aboutHeader h1{
		font-size: 1rem;
	}

	.aboutCon{
		height: 230vh;
		background: #3E5151;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}

	.imgCon{
		display: block;
		align-items: center;
		justify-content: center;
		width: 80%;
	}

	.imgHolder{
		width: 80vw;
		margin: 2em 0 2em 0;
	}

	.aboutImg{
		width: 80vw;
	}

	.imgHolder h2{
		margin: 1em 0 1em 0;
		font-size: 1rem;
		/*width: 40vw;*/
	}

	.contactCon{
		display: block;
		align-items: center;
		justify-content: center;
		height: 130vh;
		background: #22c1c3;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}

	.formInput{
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.mapContainer{
		height: 50vh;
		width: 100%;
		padding: 0;
		margin: 0;
	}

}